* {
  font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
  margin:0;
  padding:0;  
}

:root {
  --black10: rgb(35, 35, 35);
  --black20: rgb(25, 25, 25);
  --black30: rgb(49, 64, 76);
}

body, html {
  height:100%;
  background: linear-gradient(transparent 0px, transparent 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px), linear-gradient(to right, rgb(200, 195, 199) 0px, rgb(200, 195, 199) 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px);
  background-position: -231px -2px;
  background-size: 20px 20px;
}

.layout {
  display:grid;
  grid-template-rows: 4rem 1fr;
  justify-items: center;
  height: 100%;
}

.main {
  overflow-x: auto;
  width: 100%;
  height: 100%;
}

/* Go back navigace */
.go-back-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.go-back-wrapper a {
  font-size: 3rem;
  background-color: rgb(255 255 255);
  color: rgb(122 122 122);
  border-radius: 9999px;
  text-decoration: none;
}

.go-back-wrapper a:hover {
  font-size: 3rem;
  background-color: rgb(235,235,235);
} 

.go-back-wrapper span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
  color: #4e4e4e;
}

.m-top1 {
  margin-top:1rem;
}

.m.bot1 {
  margin-bottom: 1rem;
}

.btn {
  border: none;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.65rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--blue {
  background-color: #4d3df7;
  color: #e9e9e9;
}

.btn--blue:hover {
  background-color: #4333f5;
}

.btn--gray:hover {
  background-color: #e7e7e7;
}

.input-form {
  display: block;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: none;
    outline: none;
    height: 3rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}